<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SmartArtGuide</title>
  <style>

    .bg-image1 {
        position: fixed;
        top: 0;
        left: 0; /* Ensure full coverage */
        right: 0; /* Ensure full coverage */
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('welcome_page.png');
        z-index: -1;
    }
    .welcome-container {
      position: relative; /* Added for positioning within the viewport */
      z-index: 2; /* Ensure it's above the background image */
      text-align: center; /* Center text */
      color: white;
      padding-top: 100px; /* Space from top */
    }
    
      /* Buttons styling 
      .button {
          padding: 15px 30px;
          font-size: 1em;
          margin: 10px;
          cursor: pointer;
          border: none;
          border-radius: 20px; 
          text-decoration: none;
          color: white; 
          background-color: #f56565;
          transition: background-color 0.3s;
      }

      .button:hover {
          background-color: #d53f52; 
      }
      */

  </style>
</head>
<body>
<div class="bg-image1"></div>
<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class = "text-white">Welcome to SmartArtGuide</h1>
  <h3 class = "text-white">Your ultimate guide to art</h3>
  <%= link_to "Upload Photo", upload_path, class: "btn btn-outline-light"%>
</div>
</body>
</html>

