<% if @artwork %>
  <h1><%= @artwork.artwork_name %></h1>
  <img src="<%= @artwork.image_url %>" alt="<%= @artwork.artwork_name %>">
  <p><%= @artwork.background_information %></p>
<% else %>
  <p>No artwork found</p>
<% end %>
