<!DOCTYPE html>
<html>
<head>
  <title>Upload Photo</title>
</head>
<body>
<h1>Upload Your Photo</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>

<% if @error %>
  <p><%= @error %></p>
<% end %>
</body>
</html>