@import 'variables';
@import 'bootstrap';
@import 'bootswatch';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.flash.notice {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.flash.alert {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px; /* 控制图片的宽度 */
  height: 150px; /* 控制图片的高度 */
  object-fit: cover; /* 确保图片在调整大小时保持比例 */
  margin-bottom: 20px; /* 添加底部外边距 */
}


