@import 'variables';
@import 'bootstrap';
@import 'bootswatch';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.profile-picture {
  width: 150px; /* 控制图片的宽度 */
  height: 150px; /* 控制图片的高度 */
  object-fit: cover; /* 确保图片在调整大小时保持比例 */
  margin-bottom: 20px; /* 添加底部外边距 */
}


.page-header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.header-link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header-link:hover {
  background-color: #e2e2e2;
}

.artworks-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.artwork-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.artwork-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.artwork-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.artwork-title {
  padding: 10px;
  background-color: white;
  text-align: center;
  margin: 0;
}

.no-artworks {
  text-align: center;
  padding: 20px;
}

.btn-favorite {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.btn-favorite:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  transform: translateY(-2px);
}

.btn-primary.btn-favorite {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-warning.btn-favorite {
  background-color: #ffc107;
  border-color: #ffc107;
}

.message {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    margin-bottom: 10px; /* Add margin between messages */
}

.user-message {
    background-color: #E1F5FE; /* Light blue background for user messages */
    padding: 5px;
    border-radius: 5px;
}

.guide-message {
    background-color: #d6d6d44b; /* Light grey background for guide messages */
    padding: 5px;
    border-radius: 5px;
}








